/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .mat-dialog-container {
    width: 40vw;
  }
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type {
    padding-left: 0;
  }
  th.mat-header-cell,
  td.mat-cell {
    text-align: center;

    width: 10%;
  }
  tr.mat-row {
    cursor: pointer;
  }
  tr.mat-row:hover {
    background-color: whitesmoke;
  }
  // .snackBar {
  // }

  @media (min-width: 280px) and (max-width: 449px) {
    .mat-list-base .mat-list-item .mat-list-item-content {
      padding: 0;
    }
  }
}
