/* .titulo {
  line-height: 40px;
  vertical-align: bottom;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #105982;
  font-family: monospace;
  text-transform: uppercase;
}

.resposta {
  padding: 10px;
} */

.btn-success {
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 12px 0;
}

.list-item {
  box-shadow: 0 0 3px #000;
  margin: 8px 0;

  cursor: pointer;
}
.list-item:hover {
  background-color: #c2c2c2;
}
p {
  width: 38%;

  margin: 0 3px;
}

p:nth-child(4) {
  display: flex;
  justify-content: center;
}

.btn-delete {
  /* color: #fff; */
  width: 100%;

  text-align: right;
}
.box {
  width: 100%;

  display: flex;
  justify-content: center;
}
.btn-add {
  background-color: rgb(6, 151, 6);
  color: #fff;

  width: 50%;
}
