<!-- <p>
  <img src="../../../../assets/images/svg/zoology.svg"
       style="width: 40px;">
  <span class="titulo">Entrevista Intergado</span>
</p>


<div>
  <p>1. Abra o link abaixo para visualizar a documentação da API no Swagger:</p>

  <div class="resposta"><a href="http://localhost:5050/api/swagger-ui.html"
       target="_blank">Swagger CRUD</a></div>


  <p>2. Implemente as seguintes funções:</p>


  <p>2.1. Liste abaixo o retorno do endpoint que trará a lista de animais da consulta no Swagger;</p>


  <p>2.2. Insira um novo animal usando o endpoint de inserção e, em seguida, atualize a lista anterior;</p>


  <p>2.3. Crie um link na frente de cada item da lista e, usando o endpoint "excluir", remova o registro quando o link
    for clicado. Atualize a lista em seguida.</p>

</div> -->


<div class="container">

  <h1 class="title">Animais registrados.</h1>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="manejo">
      <th mat-header-cell *matHeaderCellDef> Manejo </th>
      <td mat-cell *matCellDef="let element"> {{element.manejo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let element"><button class="btn btn-delete" (click)="DeleteAnimal(element.id)">Remover</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div class="box">
    <button class="btn  btn-add mat-raised-button" [routerLink]="['add/animal']">Adicionar animal</button>
  </div>
  
  
  
</div>

