/* .titulo {
  line-height: 40px;
  vertical-align: bottom;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #105982;
  font-family: monospace;
  text-transform: uppercase;
}

.resposta {
  padding: 10px;
} */

.container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
}

.btn-success {
  margin: 0 auto;
}

.btn-delete {
  color: red;

  font-size: 0.9rem;
}

.box {
  width: 100%;

  display: flex;
  justify-content: center;
}
table {
  width: 100%;

  margin: 25px 0;
}

th {
  font-size: 1rem;
}

td {
  font-size: 0.9rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-add {
  background-color: #005a83;
  color: #fff;
  width: 100%;

  transition: 0.2s ease-out;
}

.btn-add:hover {
  background-color: #363532;
}

@media (min-width: 250px) and (max-width: 557px) {
  .title {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}
@media (min-width: 280px) and (max-width: 449px) {
  .title {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
    /* margin: 0 5px; */
  }
  .btn {
    font-size: 0.9rem;
  }
  .list-item {
    /* height: 400px; */
  }
}
