/* .titulo {
  line-height: 40px;
  vertical-align: bottom;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #105982;
  font-family: monospace;
  text-transform: uppercase;
}

.resposta {
  padding: 10px;
} */

.container {
  padding: 20px;
}
.title {
  text-align: center;
}

.btn-success {
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 12px 0;
}

.list-item {
  box-shadow: 0 0 3px #000;
  margin: 8px 0;

  cursor: pointer;

  transition: 0.2s ease-in-out;
}
.list-item:hover {
  /* transform: scale(1.1); */
  background-color: #c2c2c25e;
}
p {
  width: 38%;

  margin: 0 3px;
}

p:nth-child(4) {
  display: flex;
  justify-content: center;
}
.align-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-delete {
  color: red;
}

.box {
  width: 100%;

  display: flex;
  justify-content: center;
}

.btn-add {
  background-color: #069706;
  color: #fff;
  width: 100%;
}

@media (min-width: 250px) and (max-width: 557px) {
  .title {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}
@media (min-width: 280px) and (max-width: 449px) {
  .title {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
    /* margin: 0 5px; */
  }
  .btn {
    font-size: 0.9rem;
  }
  .list-item {
    /* height: 400px; */
  }
}
